<head>
	<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
</head>
<body>
	<form id="form" enctype="multipart/form-data">
		<input name="file" type="file">
		<input type="submit" value="Upload">
	</form>
	<script type="text/javascript">
		$("#form").submit(function(e){
			
			var formData = new FormData($("#form")[0]);

			$.ajax({
				url: '/api/v1/upload',
				data: formData,
				processData: false,
				contentType: false,
				type: 'POST',
				success: function(data, textStatus, jqXHR) {
					console.log("finished, data: ");
					console.log(data);
				},
				error: function(jqXHR,textStatus,errorThrown) {
					console.log("error: " + errorThrown);
				}
			});
			
			e.preventDefault();
		});
	</script>
</body>
